<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a.appedenfire">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ELeden"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.example.a.appedenfire.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.a.appedenfire.InicioActivity" />
        <activity android:name="com.example.a.appedenfire.HabitacionActivity" />
        <activity android:name="com.example.a.appedenfire.RestauranteActivity" />
        <activity android:name="com.example.a.appedenfire.EventosActivity" />
        <activity android:name="com.example.a.appedenfire.OfertaActivity" />
        <activity android:name="com.example.a.appedenfire.ReservaOfertaActivity" />
        <activity android:name="com.example.a.appedenfire.InstalacionServiciosActivity" />
        <activity android:name="com.example.a.appedenfire.LugarActivity" />
        <activity android:name="com.example.a.appedenfire.ReservaHabitacionActivity" />
        <activity android:name="com.example.a.appedenfire.Admin"></activity>
    </application>

</manifest>